
.card {
  background-color: var(--color-Secundary-);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.card h2 {
  margin: 10px 0 5px;
}
.card p {
  margin: 5px 0;
}
.card .details {
  margin: 20px 0;
}
.card .details div {
  margin: 5px 0;
}
.card a {
  color: #58a6ff;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}